.menu-item .menu-item-hover a:hover {
    color: #0dcaf0;
    transition: 0.8s;
}

.carousel-caption {
    top: 40%;
}

.carousel-caption h5 {
    font-size: 75px;
    font-weight: 700;
}

.carousel-caption p {
    font-size: 20px;
}

.work-heading h2 {
    font-size: 40px;
    font-weight: 700;
}


@media only screen and (max-width:992px) {
    .carousel-caption {
        top: 30%;
    }

    .carousel-caption h5 {
        font-size: 55px;
    }

    .carousel-caption p {
        font-size: 16px;
    }

    .work-heading h2 {
        font-size: 30px;
        font-weight: 700;
    }

    .work-heading .work-details {
        width: 90%;
        height: 100px;
        overflow: hidden;
    }

    .accordion-items {
        width: 100%;
    }
}

@media only screen and (max-width:576px) {
    .carousel-caption {
        top: 10px;
    }

    .carousel-caption h5 {
        font-size: 20px;
    }

    .carousel-caption p {
        font-size: 14px;
    }

    .work-heading {
        padding: 15px;
    }

    .work-space {
        display: flex;
        flex-direction: column;
    }



}