.menu-item .menu-item-hover a:hover {
    color: #0dcaf0;
    transition: 0.8s;
}

.top-overlay {
    position: relative;
    font-size: 10px;
}

.overlay {
    height: 100%;
    width: 100%;
    position: absolute;
    opacity: 0.8;
}

.carousel-caption {
    top: 40%;
}

.carousel-caption h5 {
    font-size: 75px;
    font-weight: 700;
}

.carousel-caption p {
    font-size: 20px;
}

@media only screen and (max-width:768px) {
    .carousel-caption {
        top: 10%;
    }

    .carousel-caption h5 {
        font-size: 28px;
    }

    .carousel-caption p {
        font-size: 16px;
    }

    .accordion-items {
        width: 100%;
    }
}

@media only screen and (max-width:576px) {
    .carousel-caption {
        top: 10px;
    }

    .carousel-caption h5 {
        font-size: 20px;
    }

    .carousel-caption p {
        font-size: 14px;
    }



}